[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = {extras = ["standard"], version = "*"}
requests = "*"
python-dotenv = "*"
pydantic = "*"
pydantic-settings = "*"
google-cloud-logging = "*"
python-json-logger = "*"

[dev-packages]
pytest = "*"
pytest-cov = "*"
jsonschema = "*"
httpx = "*"

[requires]
python_version = "3.11"
